@import "_header.scss";
@import "_nullstyle.scss";

body {
  line-height: normal;
  color: #2a2a2a;
  font-weight: 400;
}
html,
body,
div,
span,
object,
iframe,
frame,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
a,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
textarea,
select,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video,
input {
  box-sizing: border-box;
}

.top {
  height: 90px;
  background-color: #ffffff;
  position: relative;
  z-index: 300;
  padding: 0 220px;
  margin: 0 auto 0;
  border-bottom: 3px solid #3f90d6;
}
.menu {
  font-size: 28px;

  &__logo {
    position: absolute;
  }

  &__clearfix {
    position: relative;
    top: 30px;
    left: 250px;
  }

  &__variants {
  }
}
.submenu {
  &:nth-child(2) {
    position: relative;
    left: 100px;
    top: -33px;
  }
  &:nth-child(3) {
    position: relative;
    left: 170px;
    top: -66px;
  }
  &:nth-child(4) {
    position: relative;
    left: 300px;
    top: -99px;
  }
  &:nth-child(5) {
    position: relative;
    left: 365px;
    top: -132px;
  }
  &:nth-child(6) {
    position: relative;
    left: 440px;
    top: -165px;
  }
  &:nth-child(7) {
    position: relative;
    left: 590px;
    top: -198px;
  }
}
